{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block title %} {% sitename %} {% endblock %}

{% block navbar %} {% include 'partials/_nav.html' %} {% endblock navbar %}

{% block content %}
<button class="button is-secondary is-rounded back-to-top" id="back-to-top">
    <span class="icon is-small">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 5l0 14" />
            <path d="M18 11l-6 -6" />
            <path d="M6 11l6 -6" />
        </svg>
    </span>
    <span>
        {% trans 'Back to top' %}
    </span>
</button>

<section class="hero-container" id="main-hero-section">
    <video class="hero-video-player" poster="{% static 'videos/hero-video-thumb.avif' %}" id="hero-video-player"
        preload="auto" autoplay muted loop>
        <source src="{% static 'videos/hero-video.mp4' %}" type="video/mp4" />
        {% trans 'Your browser does not support the video tag.' %}
    </video>
    <div class="hero-body">
        <div class="container">
            <h1 class="page-title title is-hidden">
                {% trans 'Welcome' %}
            </h1>

            <img class="hero-logo" src="{% static 'img/logo-primary-large.avif' %}" alt="{% sitename %} logo" />
            <h2 class="subtitle has-text-primary mt-6">
                {{ page.data.headline }}
            </h2>
        </div>

        <button class="scroll-to-content bounce has-text-primary" onclick="scrollToSecion('about')"
            aria-label="{% trans 'Scroll to About' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-down">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 5l0 14" />
                <path d="M18 13l-6 6" />
                <path d="M6 13l6 6" />
            </svg>
        </button>
</section>

<section class="secondary-section" id="about">
    <div class="section-panel">
        {% for detail_value in page.data.details %}
        <p class="subtitle">
            {{ detail_value }}
        </p>
        {% endfor %}

        <img src="{% static 'img/logo-secondary.avif' %}" alt="{% sitename %} logo" height="200" width="200" />
    </div>
    <div class="section-panel image-container">
        <img src="{% static page.data.details_photo_cover %}" alt="{% sitename %} hero image" height="600" width="100%">
    </div>
</section>

<section class="packages-section" id="packages-section">
    <div class="has-text-centered py-6">
        {% for package in packages %}
        <div class="has-text-centered">
            <h4
                class="title is-size-1-desktop is-size-2-tablet is-size-3-mobile has-text-primary mb-6 great-vibes-regular">
                {{ package.name }}
            </h4>

            <div class="container is-mobile">
                <div class="fixed-grid has-4-cols-desktop has-2-cols-tablet has-1-cols-mobile">
                    <div class="grid">
                        {% for tier in package.tiers %}
                        <div class="col">
                            <div class="box content">
                                <h5
                                    class="title is-size-4-desktop is-size-5-tablet is-size-6-mobile no-text-wrap has-text-primary">
                                    {{ tier }}
                                </h5>
                                <ul class="has-text-left">
                                    {% for feature in tier.features %}
                                    <li>{{ feature|safe }}</li>
                                    {% endfor %}
                                </ul>

                                <div class="has-text-center">
                                    <h5 class="has-text-dark">${{ tier.price }}</h5>
                                </div>

                                <a href="#" class="button is-primary is-small is-rounded">
                                    {% trans 'Schedule' %}
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Gallery -->
                <div class="package-gallery-container">
                    {% for photo_example in package.photo_examples %}
                    <figure class="image is-9by16">
                        <img class="image-cover" src="{{ photo_example.file.url }}"
                            alt="photo example for {{ package }}" height="640" width="480" />
                    </figure>
                    {% endfor %}
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>
                © {% sitename %} - {% now "Y" %} | {% trans 'All rights reserved' %}
            </strong>
            <br>
            {% blocktrans %}
            Unauthorized use, reproduction, or distribution of any images on this site is prohibited. For
            licensing or inquiries
            {% endblocktrans %}
            <a href="#">
                {% trans 'please contact us.' %}
            </a>
        </p>
    </div>
</footer>

<script src="{% static 'js/homepage.js' %}"></script>
{% endblock content %}
