# App settings
DOMAIN='photosapp.local'
CONTACT_EMAIL='jdoe@example.com'
SITE_NAME=Photos
SECRET_KEY=secret-key
DEBUG=True
ALLOWED_HOSTS=*
SITE_PHONE='1234567890'

# Database
POSTGRES_HOST=database
POSTGRES_DB=photosdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Celery
CELERY_BROKER_URL='redis://redis:6379/0'
CELERY_RESULT_BACKEND='redis://redis:6379/0'
