{% load static %} {% load custom_tags %}
<!doctype html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8" />
        <!-- Iconography -->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
        <link rel="manifest" href="/static/site.webmanifest" />
        <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#ccad8e" />
        <meta name="msapplication-TileColor" content="#ccad8e" />
        <meta name="theme-color" content="#ccad8e" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="color-scheme" content="light" />
        <meta name="supported-color-schemes" content="light" />
        <title>{% block title %} {% sitename %} {% endblock %}</title>
        <!-- Load bulma css -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.2/css/bulma.min.css"
            integrity="sha512-RpeJZX3aH5oZN3U3JhE7Sd+HG8XQsqmP3clIbu4G28p668yNsRNj3zMASKe1ATjl/W80wuEtCx2dFA8xaebG5w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link  rel="stylesheet" href="{% static 'css/base.css' %}" />

        <!-- SEO -->
        <meta name="title" content="{% sitename %}">
        <meta name="description" content="{% sitedescription %}">
        <meta name="keywords" content="{% sitekeywords %}">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="Spanish">
        <meta name="revisit-after" content="15 days">
        <meta name="author" content="{% siteauthor %}">


        <!-- Head -->
        {% block head %} {% endblock head %}
    </head>
    <body>
        <!-- Navbar -->
        {% block navbar %} {% endblock navbar %}
        <!-- Content -->
        <main class="container pt-4">{% block content %} {% endblock content %}</main>

        <!-- Less critical scripts -->
        <script async src="{% static 'js/nav.js' %}"></script>
        <script async src="{% static 'js/toast-notification.js' %}"></script>
    </body>
</html>
