:root {
    --bulma-primary-h: 30deg;
    --bulma-primary-s: 38%;
    --bulma-primary-l: 68%;
    --bulma-link-h: 341deg;
    --bulma-link-s: 38%;
    --bulma-link-l: 79%;
    --secondary-color: #ccad8e;
    --light-color: #fff5ee;
    --dark-color: #53412b;
    --bulma-family-primary: Poppins, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue,
        Helvetica, Arial, sans-serif;
}

body {
    height: 100vh;
    min-height: 100vh;
}

main {
    height: 100%;
    padding: 0 1rem;
}

.container.is-mobile {
    padding: 0 1rem;

    @media screen and (min-width: 758px) {
        padding: auto;
    }
}

.dashboard-icon {
    width: 64px;
    height: 64px;
}

.is-brand-dark {
    color: var(--dark-color);
}

.image-cover {
    object-fit: cover;
    object-position: center;
}

.is-top-right {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.is-top-right-mobile {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.is-relative {
    position: relative;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.gap-1 {
    gap: 1rem;
}

.no-text-wrap {
    white-space: nowrap;
    text-wrap: nowrap;
}

.great-vibes-regular {
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-style: normal;
}

.h-100 {
    height: 100%;
}
