:root {
    --bulma-primary-h: 30deg;
    --bulma-primary-s: 38%;
    --bulma-primary-l: 68%;
    --bulma-link-h: 341deg;
    --bulma-link-s: 38%;
    --bulma-link-l: 79%;
    --secondary-color: #ccad8e;
    --light-color: #fff5ee;
}

body {
    height: 100vh;
    min-height: 100vh;
}

main {
    height: 100%;
    padding: 0 1rem;
}

.dashboard-icon {
    width: 64px;
    height: 64px;
}

.is-brand-dark {
    color: #53412b;
}

.image-cover {
    object-fit: cover;
}

.is-top-right {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.is-relative {
    position: relative;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.gap-1 {
    gap: 1rem;
}
