{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<script src="{% static 'js/homepage.js' %}"></script>
{% endblock %}

{% block title %} {% sitename %} {% endblock %}

{% block navbar %} {% include 'partials/_nav.html' %} {% endblock navbar %}

{% block content %}
<button class="button is-secondary is-rounded back-to-top" id="back-to-top">
    <span class="icon is-small">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 5l0 14" />
            <path d="M18 11l-6 -6" />
            <path d="M6 11l6 -6" />
        </svg>
    </span>
    <span>
        {% trans 'Back to top' %}
    </span>
</button>

<section class="hero-container" id="main-hero-section">
    <video class="hero-video-player" poster="{% static 'videos/hero-video-thumb.jpg' %}" id="hero-video-player" autoplay
        muted loop>
        <source src="{% static 'videos/hero-video.mp4' %}" type="video/mp4" />
        {% trans 'Your browser does not support the video tag.' %}
    </video>
    <div class="hero-body">
        <div class="container">
            <h1 class="page-title title is-hidden">
                {% trans 'Welcome' %}
            </h1>

            <img class="hero-logo" src="{% static 'img/logo-primary-large.png' %}" alt="{% sitename %} logo" />
            <h2 class="subtitle has-text-primary mt-6">{% trans 'A place to share your memories' %}</h2>
        </div>

        <button class="scroll-to-content bounce" onclick="scrollToSecion('about')"
            aria-label="{% trans 'Scroll to About' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-down">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 5l0 14" />
                <path d="M18 13l-6 6" />
                <path d="M6 13l6 6" />
            </svg>
        </button>
</section>

<section class="secondary-section" id="about">
    <div class="section-panel">
        <p class="subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id aliquet quam, vel condimentum
            orci.
        </p>
        <p class="subtitle">
            Nunc consectetur blandit eros quis fermentum. Aliquam posuere rutrum quam a viverra. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis in sagittis massa, non
            pulvinar
            dui
        </p>

        <img src="{% static 'img/logo-secondary.png' %}" alt="{% sitename %} logo" />
    </div>
    <div class="section-panel image-container"></div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>
                © {% sitename %} - {% now "Y" %} | {% trans 'All rights reserved' %}
            </strong>
            <br>
            {% trans 'Unauthorized use, reproduction, or distribution of any images on this site is prohibited. For licensing or inquiries' %},
            <a href="#">
                {% trans 'please contact us.' %}
            </a>
        </p>
    </div>
</footer>
{% endblock content %}
