{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags %}


<!-- Load crispy forms -->
{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/customers.css' %}">
{% endblock %}

{% block title %} {% sitename %} | {% trans 'Create customer' %} {% endblock %}

{% block navbar %} {% include 'partials/_nav.html' %} {% endblock navbar %}

{% block content %}
<h1 class="title">
    {% if customer %}
    {% trans 'Edit customer' %}: {{ customer.name }}
    {% else %}
    {% trans 'Create customer' %}
    {% endif %}
</h1>

<form method="post">
    {% csrf_token %} {{ form|crispy }}

    <button class="button is-primary is-fullwidth is-rounded mt-4" type="submit">
        {% translate "Save" %}
    </button>
</form>
{% endblock content %}
