{% load static %} {% load i18n %}
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% if user.is_authenticated %} {% url 'dashboard' %} {% endif %}">
            <img src="{% static 'img/logo.png' %}" alt="Memorias de vida logo" height="100" />
        </a>

        <a role="button" class="navbar-burger has-text-dark" aria-label="menu" aria-expanded="false"
            data-target="main-navbar">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 6l16 0" />
                <path d="M4 12l16 0" />
                <path d="M4 18l16 0" />
            </svg>
        </a>
    </div>

    <div id="main-navbar" class="navbar-menu">
        {% if user.is_authenticated %}
        <div class="navbar-start">
            <a href="{% url 'dashboard' %}" class="navbar-item">{% trans 'Dashboard' %}</a>
            <a href="{% url 'settings' %}" class="navbar-item">{% trans 'Settings' %}</a>
            <a href="{% url 'homepage' %}" class="navbar-item">{% trans 'Homepage' %}</a>
            <a href="{% url 'list_packages' %}" class="navbar-item">{% trans 'Packages' %}</a>
        </div>
        {% else %}
        <div class="navbar-start">
            <a href="{% url 'homepage' %}" class="navbar-item">{% trans 'Home' %}</a>
            <a href="#" class="navbar-item">{% trans 'Pricing' %}</a>
            <a href="#" class="navbar-item">{% trans 'Schedule a photo session' %}</a>
        </div>
        {% endif %}

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if user.is_authenticated %} {% trans 'Hi'%} {{ user.username }}!
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="button is-warning is-rounded" type="submit">
                            {% trans 'Log Out' %}
                        </button>
                    </form>
                    {% else %}
                    {% include 'partials/_whatsapp-link.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
